* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
}

body{
    background-color: gray;
    color: white;
}

header{
    background-color: gray;
    background-image: ulr("backgroundimg.jpg");
}

h1 {
    color:Red;
    font-size: 60px;
    font-family: Arial, serif;
    align-content: center;
    text-align: center;
}

h2 {
    color: deeppink;
    font-size: 20px;
    font-family: Arial, Serif;
    align-content: center;
    text-align: center; 
}

h3 {
    color: purple;
    font-size: 15px;
    font-family: Arial, Serif;
    align-content: center;
    text-align: center;
}

p{
    color:deeppink;
}

table{
    border: 2px solid black;
}

.navbar{
    position: relative;
    overflow: hidden;
    list-style-type: square;
    background-color: darkslategray;
    align-items: center;
    text-align: center;
}

.itemNavBar{
    font-family: Arial;
    font-size: 24;
    font-style: italic;
    align-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.centerdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.contentright{
    flex-grow: 1;
    order: 3;
}

.contentleft{
    flex-grow: 3;
    order: 1;
}

.contentcenter{
    flex-grow: 10;
    order:2;
}