root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: black;
}

.menu-nav{
    font-family: Comic;
    font-size: 28px;
    color: pink;
    text-align: center;
}

.ul-nav{
    display: inline-block;
    text-align: left;
}

.li-inline{
    display: inline-block;
    margin: 10px;
}
